{%extends 'base.html'%}

{%block section%}


<main class="h-full pb-16 overflow-y-auto">
    <div class="container grid px-6 py-4 mx-auto">
      <div
      class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800" 
    >
    <div class="flex items-center space-x-6" >
      <img src="{{student.photo.url}}" alt="Student Photo" class="w-56 h-56 rounded-lg  border-4 border-blue-500">
      <div>
        <h2 class="text-2xl font-semibold text-white">{{student.first_name}}</h2>
        <p class="text-sm text-white">{{student.email}}</p>
        <p class="text-sm text-white">{{student.contact_num}}</p>
      </div>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Admission Number:</span>
      <span class="text-white">{{student.adm_number}}</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Course:</span>
      <span class="text-white">{{student.course.code}}</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Batch:</span>
      <span class="text-white">{{student.batch.name}}</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Batch Date:</span>
      <span class="text-white">{{student.batch.start_date | date:"Y-m-d"}}</span>  
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Join Date:</span>
      <span class="text-white">{{student.join_date | date:"Y-m-d"}}</span>
    </div>
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Address:</span>
      <span class="text-white">{{student.house_name}}</span>
    </div>
  
    <div class="flex items-center space-x-6 my-6">
      <span class="font-medium text-white">Trainer:</span>
      <span class="text-white">{{student.trainer.first_name}} {{student.trainer.last_name}}</span>
    </div>
      </div>
    </div>
  </main>

  {%endblock%}
  